@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}
.container {
    display: flex;
    flex-grow: 1fr 2fr ;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    height: auto;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.container h2 {
    color: white;
    padding-left: 0.75rem;.
    width: 250px;
}
#header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    font-size: 1rem;
}
#header-img {
    width: 3.5rem;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
.nav-link {
    padding: 1rem;
    font-size: 1rem;
    min-width: fit-content;
}
#nav-bar a {
    color: white;  
    display: block; 
    text-decoration: none;
}
#nav-bar  {
    color: white;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
#nav-bar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;    
}
#nav-bar li:hover {
    background-color: greenyellow;
   
}
#video {
    width: 80vw;
    height: 50vh;
    border-radius: 1.5%;
}
#Home {
    /* height:100vh ; */
    background-color: rgb(177, 133, 133);
}
.home-img {
    justify-content: center;
    width: 50vw;
    height: 37vw;
}
.home-container {
    opacity: .85;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 90vh;
}
.quote {
    text-align: center;

}

