#maps {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -15px;
    height: 100vh;
    width: 100vw;
}

#containerMap{
    width: 350px;
    height: 250px;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-position-y: center;
    z-index: -1;
}

/* MAP Image */
.asiaAll {
    width: 700px;
    position: absolute;
    z-index: -1;
    opacity: .75;
}

.asia1 {
    width: 196px;
    position: absolute;
    z-index: +2;
    opacity: .15;
    margin-top: 120px;
    margin-left: -56px;
}

.asia2 {
    width: 590px;
    position: absolute;
    z-index: +1;
    opacity: .25;
    margin-top: -28px;
    margin-left: -30px;
} 

.asia3 {
    width: 290px;
    position: absolute;
    z-index: +2;
    opacity: .25;
    margin-top: -8px;
    margin-left: -345px;
} 
.asia4 {
    width: 700px;
    position: absolute;
    opacity: .25;
    margin-top: -214px;
} 

.asia1a {
    width: 290px;
    position: absolute;
    z-index: +1;
    opacity: .25;
    margin-top: 261px;
    margin-left: 365px;
} 

#titleLocation {
    position: absolute;
    margin-top: -300px;
    z-index: -1;
    font-family: ui-monospace;
    font-weight: bolder;
    font-size: 20px;
}   

/* LEGEND Details */
#legend {
    position: absolute;
    z-index: -1;
    margin-top: 200px;
    margin-left: -175px;
    margin-top: 500px;
    margin-left: -400px;
} 

#legend div {
    display: flex;
    z-index: -1;
}

.asia1:hover , .asia1a:hover , .asia2:hover ,.asia3:hover ,.asia4:hover ,.asia5:hover {
    z-index: +1;
    opacity: 1;
}

.orange , .maroon , .blue , .green , .yellow  {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.orange {
    background-color: #ef8015;
}
.blue {
    background-color: #245088;
}
.yellow {
    background-color: #f2e943;
}
.green {
    background-color: #225633 ;
}
.maroon {
    background-color: #8a2c25;
}

/* popular/recommended List per Area/Location */
#listRecommendation {
    display: none;
    width: 100vw;
    top: 0;
    justify-content: center;
    align-items: flex-end;
    margin-top: 15px;
}

#recommendation {
    width: 90%;
    height: 85vh;
    margin-bottom: 17.5px;
    border-radius: 2.5% / 1.5%;
    display: flex;
    align-items: flex-start;         
    flex-direction: column;      
}

.listHere {
    display: flex;
    justify-content: center;
}

.recomIcon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recomName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#descriptionRecContainer {
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: +1;
    top: 0;
    margin-top: 25px;
}
#descriptionRec {
    width: 85vmin;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(247 245 245);
    border-radius: 1% / 2.5%;
    border:rgba(70, 63, 63, 0.856) 1px double;
}

#descriptionDetails {
    text-align: center;
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;

}

#titleRec {
    padding: 0;
    margin: 10px;
}

.imageRecom {
    height: 200px;
    margin-bottom: 15px;
}

/* Favorite List */
#favButtonContainer {
    width: 95%;
    height: 50px;
    position: absolute;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

#favoriteButton {
    width: 34px;
    height: 35px;
    font-size: 22.5px;
    margin-right: 7.5px;
    margin-top: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: +1;
}

#favorites {
    margin-top: 80px;

}

.listFav {
    margin-bottom: 20px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.favName {
    width: 100vw;
    text-align: center;
    font-size: 20px;
}

.favDes {
    width: 85vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.favImage {
    height: 175px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 15px;
}

/* Media query for width < 560px */
@media (max-width: 560px) {
    .asiaAll {
        width: 350px;
        position: absolute;
        z-index: -1;
        opacity: .8;
    }
    .asia1 {
        width: 95px;
        position: absolute;
        z-index: +2;
        opacity: .15;
        margin-top: 60px;
        margin-left: -28px;
    }
    
    .asia2 {
        width: 295px;
        position: absolute;
        z-index: +1;
        opacity: .25;
        margin-top: -14px;
        margin-left: -15px;
    } 
    
    .asia3 {
        width: 145px;
        position: absolute;
        z-index: +2;
        opacity: .25;
        margin-top: -3px;
        margin-left: -171px;
    } 
    .asia4 {
        width: 350px;
        position: absolute;
        opacity: .25;
        margin-top: -106px;
        /* margin-left: -171px; */
    } 
    .asia1a {
        width: 145px;
        position: absolute;
        z-index: +1;
        opacity: .25;
        margin-top: 130px;
        margin-left: 181px;
    } 
    #legend {
        position: absolute;
        z-index: -1;
        margin-top: 200px;
        margin-left: -175px;
        margin-top: 400px;
        margin-left: -100px;
    } 
    .favDes {
        width: 95%;
    }
    #descriptionRec {
        border-radius: 1.5%;
    }
}