body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    top: 0;
}

#navContainer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    background-color: #222;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:600 ;
    position:fixed ;
    top: 0;
    z-index: +1;
}

#navContainer div {
    width: fit-content;
}

#title {
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px; 
    padding-left: 20px;
}

#titleText {
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12.5px;
}

#logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#navList {
    color: white;
    display: flex;
    width: 500px;
    justify-content: center;
    padding-right: 20px;
}

#navList div{
    display: flex;
    color: white;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#navList div:hover {
    background-color: rgba(255, 250, 250, 0.158);
    border-radius: 5% / 10%;
}

#groupContainer {
    display: flex;
    margin: 0;
    margin: 0;
    height: 100vh;
    justify-content: center;
    position: initial;
    top: 80px;
}

#groups {
    height: 200px; 
    display: flex;
    flex-wrap: wrap;
}

#groups div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.thumbnail {
    width: 250px;
    height: 200px;
    z-index: -1;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(255, 0, 0, 0.15);
}

.groupDiv {
    display: flex;
    font-size: 20px;
    font-family: emoji;
    font-size: 25px;
    font-weight:600 ;
    color: #333;
    text-shadow: 1.5px 1px rgba(128, 128, 128, 0.527);
    margin-top: 100px;
    margin-bottom: -5px;
}

.groupText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button {
    flex-direction: column;
    justify-content: space-evenly;
    width: 40px;
    height: 30px;
    padding-right: 25px;
    display: none;
}

.burger {
    height: 4.5px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 3px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

a {
    text-decoration: none;    
}

.thisLink {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    top: 0;
}



/* Mobile Size */
@media (max-width: 560px) {

.toggle-button { 
    display: flex;
}

#navList {
    display: none;
}

#navList.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 0;
    background-color: rgba(34, 34, 34, 0.75);
    padding: 0;
}

#navList div {
    height: 45px ;
}

#groups {
    width: max-content;
    height: 100px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#groups div {
    /* width: 170px; */
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: center;

}

.groupDiv {
    width: 50px;
    display: block;
    font-size: 20px;
    margin-top: -75px;
    margin-bottom: 30px;
}

.thumbnail {
    width: 250px;
    height: 175px;
    margin-top: 15px;
}





}


