body {
    background-color: rgb(208, 240, 240);
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url(https://cdn.dribbble.com/users/51395/screenshots/11144698/media/17cfb553d9e2c5ca35f91f1608e43357.jpg?compress=1&resize=1000x750);
            background-size: cover ;
            background-position-x: center;
            margin: 0 auto;
            padding: 0 auto;
            border: hidden;
            overflow: hidden;
}
#board {
        background-color: whitesmoke;
        width: 800px;
        height: 800px;
        display: flex;
            flex-wrap: wrap;
            justify-items:center ;
            outline: solid rgba(12, 95, 12, 0.849);
}
#mainX {
    margin: 0;
    flex-wrap: wrap;
        padding: 30px;
        background-color: white;
}
.green {
    background-color: rgba(12, 95, 12, 0.849);
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    display: flex;
        align-items: center;
        justify-content: center;
}
.white {
    background-color: rgb(241, 234, 234);
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chess-piece {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    width: 75%;
    height: 75%;
    display: flex;
        align-items: center;
        justify-content: center;
        filter:grayscale() ;
}
.chess-piece:hover {
width: 100px;
height: 100px;
}
img:hover {
    color: thistle;
    zoom: 80%;
}
