body {
    width: 320px;
    background-color:thistle ;
    background-image: url(https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?size=626&ext=jpg);
    line-height: 20px;
    color: rgb(238, 224, 198);
    border: brown 1px;
    padding: 2px;
    background-size: 100vw;
    font-size:16px;
}
#SurveyForm{
    background-color:rgba(33, 150, 150, 0.829);
    padding: 20px;
    border-radius: 10px;
    border-color: violet;
    border-style: dotted 2px;
}
#Form {
        background-color:rgb(125, 109, 139) ;
        padding: 10px;
        border-radius: 2%;
        box-shadow: rgb(141, 205, 235) 2px 2px;
    }
