@import url('https://fonts.googleapis.com/css2?family=Chango&family=Fredoka+One&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn.dribbble.com/users/1700393/screenshots/14905445/media/7c86f07dac4b07e6546d31935b7841c6.png?compress=1&resize=800x600);
    background-size: 40%;
    background-position-x: center;
    background-blend-mode:overlay ;
    background-color: rgba(108, 184, 93, 0.65);
    display: grid;
    align-content: flex-start;
    justify-tracks: center;
    font-family: Chango;
    text-align: center;
    padding-top: 0vmin;
    overflow: hidden;
    margin: 0vmin;
}
.btn {
    min-width: fit-content;
    background-color: whitesmoke;
    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
    font-size: 2.75vmin;
    padding: 1vmin;
    grid-row: 2fr 1fr;
    text-decoration: none;
}
.click-here {
    margin-top: 2.5vmin;
    padding: 1.25vmin;
    font-size: 2vmin;
    width: 50vmin;
    justify-self: center;    
}
.btn:hover {
    zoom: 105%;
    background-color: lawngreen;
}
#container {
    background-color: blanchedalmond;
    width: 70vh;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    color: blueviolet;
    margin: 0vmin;
    border: 0.1vmin black solid;
    padding: 0;
    
}
.board {
    border: 2.5vh  rgba(235, 221, 194, 0.9) solid;
    display: grid;
    justify-self: center; 
    margin: 2vmin;

}
.title {
    font-size: 2.5vh;
    color: rgb(85, 13, 69);
    margin-top: 5vmin;

}
.title:hover {
    color: lawngreen;
}
.column {
    display: grid;
    grid-template-columns: repeat(8);
    color: blueviolet;
    font-size: 4vh;
    justify-self: center;
}
.row {
    display: grid;
    grid-template-rows: repeat(8);
    color: blueviolet;
}
.black {
    background-color:  rgb(26, 27, 26);
    width: 8.75vh;
    height: 8.75vh;
    font-size:  130%;
}
.white {
    background-color: white;
    width: 8.75vh;
    height: 8.75vh;
    font-size:  130%;
}
.black:hover {
    color: lawngreen;
}
.white:hover {
    color: lawngreen;
}
.black2 {
    background-color:  rgb(26, 27, 26);
    color:  tomato;
    width: 8.75vh;
    height: 8.75vh;
    font-size:  130%;
}
.white2 {
    background-color: white;
    color:  tomato;
    width: 8.75vh;
    height: 8.75vh;
    font-size:  130%;
}
.black2:hover {
    color: lawngreen;
}
.white2:hover {
    color: lawngreen;
}

.bishop {
    animation: bishop1-move 0.75s ease-out forwards 0.5s alternate;

}
@keyframes bishop1-move {
    0% {
        transform: translateX(200%) translateY(-250%);
        color: lawngreen;
    }
    99% {
        color: lawngreen;
    }
    100% {
        transform: translateX(0%) translateY(0%);
    }
}

.bishop:hover {
    animation: bishop-move 0.5s ease-out forwards 0.5s alternate;
}
@keyframes bishop-move {
    0% {
        transform: translateX(0%) ;
    }
    100% {
        transform: translateX(500%) translateY(625%);
    }
}

.horse:hover {
    animation: horse-move 0.5s ease-in-out forwards 0.5s alternate;
}
@keyframes horse-move {
    0% {
        transform: translateX(0%) ;
    }
    50% {
        transform: translateX(100%) translateY(0%);
    }

    100% {
        transform: translateX(100%) translateY(250%);
    }
}

.pawn:hover {
    animation: pawn-move 0.15s ease-in-out 0.5s forwards;
}
@keyframes pawn-move {
    0% {
        transform: translateX(0%) ;
    }
    100% {
        transform: translateY(125%);
    }
}
.pawn2:hover {
    animation: pawn2-move 0.25s ease-in-out forwards 0.5s alternate;
}
@keyframes pawn2-move {
    0% {
        transform: translateX(0%) ;
    }
    100% {
        transform: translateY(250%);
    }
}

.king:hover {
    animation: king-move 0.25s ease-in-out forwards 0.25s alternate ;
}
@keyframes king-move {
    0% {
        transform: translateX(0%) ;
    }
    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.pawn2a {
    animation: pawn2a-move 1s ease-in-out 2.5s forwards;
}
@keyframes pawn2a-move {
    0% {
        transform: translateX(0%) ;
    }
    95% {
        color: lawngreen;
    }

    100% {
        transform: translateY(250%);
    }
}

.pawn3 {
    animation: pawn3-move 1s ease-in-out 1.4s  forwards;
}
@keyframes pawn3-move {
    0% {
        transform: translateX(0%) ;
        animation-delay: 0s;
    }
    95% {
        color: lawngreen;
    }
    100% {
        transform: translateY(-250%);

    }
}

.pawn3a {
    animation: pawn3a-move .75s ease-in-out 3.75s forwards;
}
@keyframes pawn3a-move {
    0% {
        transform: translateX(0%) ;
        color: lawngreen;
    }
    95% {
        color: lawngreen;
    }

    100% {
        transform: translateY(-125%);
    }
}

.pawn-a:hover {
    animation: pawn-a-move .5s ease-in-out forwards;
}
@keyframes pawn-a-move {
    0% {
        transform: translateX(0%) ;
        color: lawngreen;
    }
    95% {
        color: lawngreen;
    }

    100% {
        transform: translateY(-125%);
    }
}
.pawn-a2:hover {
    animation: pawn-a2-move .5s ease-in-out forwards;
}
@keyframes pawn-a2-move {
    0% {
        transform: translateX(0%) ;
        color: lawngreen;
    }
    95% {
        color: lawngreen;
    }

    100% {
        transform: translateY(-250%);
    }
}

.horse-a:hover {
    animation: horse-a-move 0.5s ease-in-out forwards 0.5s alternate;
}
@keyframes horse-a-move {
    0% {
        transform: translateX(0%) ;
    }
    50% {
        transform: translateX(0%) translateY(-250%);
    }

    100% {
        transform: translateX(-100%) translateY(-250%);

    }
}
.horse-a2:hover {
    animation: horse-a-move 0.5s ease-in-out forwards 0.5s alternate;
}
@keyframes horse-a-move {
    0% {
        transform: translateX(0%) ;
    }
    50% {
        transform: translateX(0%) translateY(-250%);
    }

    100% {
        transform: translateX(100%) translateY(-250%);
}

